*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}/* Container */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 50%, #6a3093 100%);

}

/* Open Modal Button */
.open-btn {
  padding: 12px 30px;
  font-size: 18px;
  background: #cffa8d;
  color: rgb(11, 9, 9);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.open-btn:hover {
  background: #0069d9;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Box */
.modal {
  background: rgb(149, 214, 215);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 40px rgba(8, 234, 237, 0.3);
  animation: slideIn 0.2s ease;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #181010;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Modal Body */
.modal-body {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  background-color: turquoise;
 
}
